@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700'); 
body {
    font-family: 'Inter', sans-serif;
}

h1,
h2,
.rst-content .toctree-wrapper p.caption,
h3,
h4,
h5,
h6,
legend {
    font-family: 'Inter';
}
.wy-nav-content h1 {
    font-weight: 100;
    font-size: 45px;
}

h1,
h2,
.rst-content .toctree-wrapper p.caption,
h3,
h4,
h5,
h6 {
    font-weight: 500;
}
.wy-nav-content-wrap{
    margin-left: 340px;
    word-break: break-word;
}
.wy-side-scroll {
    width: 356px;
}
.wy-menu-vertical {
    width: 340px;
}
.wy-side-nav-search,
.wy-nav-side {
    background-color: #fff;
    color: #404040;
    border-right: 1px solid #e1e4e5;
    width: 340px;
}

.wy-side-nav-search > div.version {
    color: #404040;
}
.wy-side-nav-search .icon.icon-home{
    font-size: 0;
}
.wy-side-nav-search input[type='text'] {
    border-color: #e1e4e5;
    padding: 8px 12px;
}
.wy-menu-vertical li.current a {
    color: #404040;
    border-right: 0;
    padding: .8em 1em .8em 2.427em;
}
.wy-menu-vertical li.current,
.wy-menu-vertical li.toctree-l2.current > a {
    background: #fff;
}

.wy-menu-vertical li.current a {
    border-right: 0;
}

.wy-menu-vertical li a {
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
}

.wy-menu-vertical a {
    color: #404040;
}
.wy-menu-vertical li.on a,
.wy-menu-vertical li.current > a {
    color: #404040;
    background: #fff;
    border-bottom: solid 1px #fff;
    border-top: solid 1px #fff;
}

.wy-menu-vertical .current li.toctree-l1>a {
    border-bottom: 1px solid #1CB1C2;
    border-top: 1px solid #1CB1C2;
}

.wy-menu-vertical li.toctree-l2.current > a {
    color: #fcfcfc;
    background: #fff;
    border-bottom: solid 1px #fff;
    border-top: solid 1px #fff;
    background: #a9d9f5 !important;
    border-radius: 9px;
}

.wy-menu-vertical li.toctree-l2.current li.toctree-l3 > a {
    color: #404040;
    background: #fff;
    border-bottom: solid 1px #fff;
    border-top: solid 1px #fff;
}

.wy-menu-vertical li.toctree-l2.current li.toctree-l3.current > a {
    color: #fcfcfc;
    background: #fff;
    border-bottom: solid 1px #fff;
    border-top: solid 1px #fff;
    background: #a9d9f5 !important;
    border-radius: 9px;
}

/* .wy-menu-vertical li.on a:hover,
.wy-menu-vertical li.current > a:hover,
.wy-menu-vertical a:hover,
.wy-menu-vertical li.current a:hover {
    color: #404040;
    background: #015e86;
} */

.fa-minus-square-o:before,
.wy-menu-vertical li.on a span.toctree-expand:before,
.wy-menu-vertical li.current > a span.toctree-expand:before {
    content: '\f107';
    color: #404040;
    transform: rotate(180deg);
    font-weight: bold;
    font-size: 1.4em;
}


.wy-nav-content {
    padding: 1.618em 3.236em;
    height: 100%;
    max-width: 100%;
    margin: auto;
}

.wy-breadcrumbs li a:visited,
.wy-breadcrumbs li a,
.wy-nav-content a:visited {
    color: #404040;
}

.wy-nav-content .toctree-wrapper ul li a:hover {
    text-decoration: underline;
}

.wy-nav-content .toctree-wrapper ul li a:visited {
    color: #2980B9;
}

.wy-nav-side [class*='toctree'] > a {
    background: #fff !important;
}

.wy-menu-vertical a {
    padding: .8em 1em;
}
.wy-menu-vertical li.toctree-l2.current>a {
    padding: .8em 1em .8em 2.427em;
}
.wy-menu-vertical li.toctree-l2.current li.toctree-l3>a, .wy-menu-vertical li.toctree-l3.current>a {
    padding: .8em 1em .8em 4.045em;
}
.wy-menu-vertical li.toctree-l3.current li.toctree-l4>a, .wy-menu-vertical li.toctree-l4.current>a {
    padding: .8em 1em .8em 5.663em;
}
.wy-menu-vertical li.current>a, .wy-menu-vertical li.on a {
    padding: .8em 1em;
}

.fa-plus-square-o:before,
.wy-menu-vertical li span.toctree-expand:before {
    content: '\f107';
    color: #404040;
    transition: all .5s;
    font-weight: bold;
    font-size: 1.4em;
}

.wy-menu-vertical .toctree-l1.current {
    border-bottom: solid 1px #1CB1C2;
}
.wy-menu-vertical li span.toctree-expand{
    float: right;
}
.section {
    padding-bottom: 30px;
}

.wy-nav-content {
    background: #fff;
}

.highlight {
    background: #f1f1f1;
}
.current .toctree-l2 {
    background-color: black;
}

/* override table width restrictions */
@media screen and (min-width: 767px) {
    .wy-table-responsive table td {
        /* !important prevents the common CSS stylesheets from overriding
         this as on RTD they are loaded after this stylesheet */
        white-space: normal !important;
    }

    .wy-table-responsive {
        overflow: visible !important;
    }
}

.rst-content table.docutils:not(.field-list) tr:nth-child(2n-1) td {
    background-color: #ffffff
}

.wy-menu-vertical a {
    font-size: 0.9rem;
}
@page{
    margin: .5cm .5cm .5cm -9cm; 
}
@media screen and (max-width: 768px){
    .wy-nav-side {
        left: -340px;
    }
    .wy-nav-content-wrap {
        margin-left: 0;
    }
    .wy-menu.wy-menu-vertical, .wy-side-nav-search, .wy-side-scroll {
        width: auto;
    }
    }
