@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
body {
    /* font-family: 'Source Sans Pro', sans-serif; */
    font-family: 'Roboto', sans-serif;
}

*{
    scrollbar-color: rgba(0,0,0,.5) rgb(210,210,210) !important;
    scrollbar-width: thin !important;
  }
::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}
::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0,0,0,.5);
    box-shadow: 0 0 1px rgba(255,255,255,.5);
}
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 4px;
  }

h1,
h2,
.rst-content .toctree-wrapper p.caption,
h3,
h4,
h5,
h6,
legend {
    /* font-family: 'Source Sans Pro'; */
    font-family: 'Roboto';
}
.wy-nav-content h1 {
    /* font-weight: 300; */
    font-size: 45px;
}
.wy-nav-content h2 {
    font-size: 34px;
}
.wy-nav-content h2, .wy-nav-content h3, .wy-nav-content h4, .wy-nav-content h5, .wy-nav-content h6{
    margin-top: 1em;
    margin-bottom: .5em;
}
h1,h2,
.rst-content .toctree-wrapper p.caption,
h3,h4,h5,h6 {
    font-weight: 400;
}
p{
    margin: 0;
}
.wy-nav-content-wrap{
    margin-left: 340px;
    word-break: break-word;
    font-size: 1em;
}
.wy-nav-content-wrap p, .wy-nav-content-wrap ol, .wy-nav-content-wrap ul, .wy-nav-content-wrap blockquote {
    font-size: 1em;
    line-height: 1.41em;
}
.wy-nav-content-wrap p, .wy-nav-content-wrap blockquote {
    margin-top: 1em;
    margin-bottom: 10px;
}
.rst-content figure {
    margin-top: 1em;
    margin-bottom: 1em;
}

.wy-side-scroll {
    width: 340px;
    padding-bottom: 4.5em;
}
.wy-menu-vertical {
    width: 340px;
    font-size: 0.875rem;
}
.wy-side-nav-search,
.wy-nav-side {
    background-color: #fff;
    color: #404040;
    border-right: 1px solid #e1e4e5;
    width: 340px;
}

.wy-side-nav-search > div.version {
    color: #404040;
}
.wy-side-nav-search .icon.icon-home{
    font-size: 0;
}
.wy-side-nav-search input[type='text'] {
    border-color: #e1e4e5;
    padding: 8px 12px;
}
.wy-menu-vertical li.current a {
    color: #404040;
    border-right: 0;
    padding: .8em 1em .8em 2.8em;
}
.wy-menu-vertical li.current,
.wy-menu-vertical li.toctree-l2.current > a {
    background: #fff;
}

.wy-menu-vertical li.current a {
    border-right: 0;
}

.wy-menu-vertical li a {
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
}

.wy-menu-vertical a {
    color: #404040;
}
.wy-menu-vertical a, .wy-menu-vertical li.on a, 
.wy-menu-vertical li.current a, .wy-menu-vertical li.current > a,
.wy-menu-vertical li.toctree-l3, .wy-menu-vertical li.toctree-l4 {
font-size: 1em;
}
.wy-menu-vertical li.on a,
.wy-menu-vertical li.current > a {
    color: #404040;
    background: #fff;
    border-bottom: solid 1px #fff;
    border-top: solid 1px #fff;
}

.wy-menu-vertical .current li.toctree-l1>a {
    border-bottom: 1px solid #1CB1C2;
    border-top: 1px solid #1CB1C2;
}

.wy-menu-vertical li.toctree-l2.current > a {
    color: #404040;
    background: #fff;
    border-bottom: solid 1px #fff;
    border-top: solid 1px #fff;
}

.wy-menu-vertical li.toctree-l2.current li.toctree-l3 > a {
    color: #404040;
    background: #fff;
    border-bottom: solid 1px #fff;
    border-top: solid 1px #fff;
}
.wy-menu-vertical a:active{
    color: #404040;
}
.wy-menu-vertical li.current > a.current{
    background: #a9d9f5!important;
}
/* .wy-menu-vertical li.toctree-l2.current li.toctree-l3.current > a {
    border-bottom: solid 1px #fff;
    border-top: solid 1px #fff;
    background: #a9d9f5!important;
} */

/* .wy-menu-vertical li.on a:hover,
.wy-menu-vertical li.current > a:hover,
.wy-menu-vertical a:hover,
.wy-menu-vertical li.current a:hover {
    color: #404040;
    background: #015e86;
} */

.fa-minus-square-o:before,
.wy-menu-vertical li.on a span.toctree-expand:before,
.wy-menu-vertical li.current > a span.toctree-expand:before {
    /* content: '\f107';
    color: #404040;
    transform: rotate(180deg);*/
    font-weight: bold;
    font-size: 1.4em; 
    content: '\2212';
    color: #2980b9;
}


.wy-nav-content {
    padding: 1.618em 3.236em;
    height: 100%;
    max-width: 100%;
    margin: auto;
}

/* .wy-breadcrumbs li a:visited, 
   .wy-nav-content a:visited
*/
.wy-breadcrumbs li a:visited, .sphinx-bs .card-text a:visited {
    color: #2980B9;
}
.wy-breadcrumbs-aside a, .wy-breadcrumbs-aside a:visited{
    color: #404040;
}
.rst-content table.docutils caption{
    /* font: 20px/1 "Roboto"; */
    font: 20px/1 "Roboto";
    color: #404040;
}
.wy-nav-content .toctree-wrapper ul li a:hover {
    text-decoration: underline;
}

.wy-nav-content .toctree-wrapper ul li a:visited {
    color: #2980B9;
}

.wy-nav-side [class*='toctree'] > a {
    background: #fff !important;
}

.wy-menu-vertical a {
    padding: .8em 1em .8em 1.8em;
}
.wy-menu-vertical li.toctree-l2.current>a {
    padding: .8em 1em .8em 2.8em;
}
.wy-menu-vertical li.toctree-l2.current li.toctree-l3>a, .wy-menu-vertical li.toctree-l3.current>a {
    padding: .8em 1em .8em 3.8em;
}
.wy-menu-vertical li.toctree-l3.current li.toctree-l4>a, .wy-menu-vertical li.toctree-l4.current>a {
    padding: .8em 1em .8em 4.8em;
}
.wy-menu-vertical li.current>a, .wy-menu-vertical li.on a {
    padding: .8em 1em .8em 1.8em;
}

.fa-plus-square-o:before,
.wy-menu-vertical li span.toctree-expand:before {
    /* content: '\f107';
    color: #404040;
    transition: all .5s;*/
    font-weight: bold;
    font-size: 1.4em; 
    content: '\002B';
    color: #2980b9;
}

.wy-menu-vertical .toctree-l1.current {
    border-bottom: solid 1px #1CB1C2;
}
.wy-menu-vertical li span.toctree-expand{
    /* float: right; */
    margin-left: -13px;
    margin-right: 5px;
}
/* .section {
    padding-bottom: 30px;
} */

.wy-nav-content {
    background: #fff;
}

.highlight {
    background: #f2f2f2;
}
.rst-content pre.literal-block, .rst-content div[class^='highlight'] pre, .rst-content .linenodiv pre {
    font-size: 14px;
    line-height: 1.5;
    
}
.rst-content img {
    border: 1px solid #5050506b;
    border-radius: 5px;
}
.rst-content .copybtn img{
    border: none;
}
.current .toctree-l2 {
    background-color: black;
}
.btn-neutral {
    background-color: #2980b9!important;
    color: #fff!important;
    border: none;
    box-shadow: none;
    border-radius: 5px;
}
.btn-neutral:visited {
    color: #fff !important;
}
.btn-neutral:hover {
    background-color: #2980b9!important;
}
/* override table width restrictions */
@media screen and (min-width: 767px) {
    .wy-table-responsive table td {
        /* !important prevents the common CSS stylesheets from overriding
         this as on RTD they are loaded after this stylesheet */
        white-space: normal !important;
    }

    .wy-table-responsive {
        overflow: visible !important;
    }
}

.rst-content table.docutils:not(.field-list) tr:nth-child(2n-1) td {
    background-color: #ffffff
}

/* .wy-menu-vertical a {
    font-size: 0.9rem;
} */
@page{
    margin: .5cm .5cm .5cm -9cm; 
}
@media screen and (max-width: 768px){
    .wy-nav-side {
        left: -340px;
    }
    .wy-nav-side.shift {
        width: 100%;
      }
    .wy-nav-content-wrap {
        margin-left: 0;
    }
    .wy-menu.wy-menu-vertical, .wy-side-nav-search, .wy-side-scroll {
        width: auto;
    }
    .rst-content img {
        width: 100%!important;
    }
    }
    
.card.w-100.shadow.docutils:hover{
    border-color : #2980B9
}
.card-text:last-child{
    font-size: 15px;
    color: grey;
}
.sphinx-bs .shadow {
    box-shadow: none !important;
}
.wy-menu-vertical a:hover, .wy-menu-vertical li.on a:hover, .wy-menu-vertical li.current a:hover, .wy-menu-vertical li.current > a:hover {
    background-color: #a9d9f5 !important;
}
.sphinx-bs .card{
    border: 1px solid #cccccc;
}
.rst-content section ul li {
    list-style: disc;
    margin-left: 24px;
}

.rst-content section ol li {
    list-style: decimal;
    margin-left: 24px;
}

.rst-content section ol li>p:only-child, .rst-content section ol li>p:only-child:last-child, .rst-content section ul li>p:only-child, .rst-content section ul li>p:only-child:last-child {
    margin-top: 0;
}
.rst-content .section ol.simple li > *, .rst-content .section ol.simple li ol, .rst-content .section ol.simple li ul, .rst-content .section ul.simple li > *, .rst-content .section ul.simple li ol, .rst-content .section ul.simple li ul{
    margin-top: 1rem;
}
.rst-content .section ol li > :first-child, .rst-content .section ul li > :first-child{
    margin-top: 1rem;
}
footer{
        margin-top: 50px;
}
.rst-content div[class^=highlight], .rst-content pre.literal-block {
    margin-top: 15px;
    margin-bottom: 15px;
}
.rst-content .admonition {
    margin-top: 20px;
    margin-bottom: 20px;
}
.rst-content table.docutils thead, .rst-content table.field-list thead, .wy-table thead {
    border-bottom: solid 2px #e1e4e5;
}
.wy-nav-content h3 {
    margin-top: 1em;
    margin-bottom: 1.5em;
}
.rst-content figure {
    margin-top: 1em;
    margin-bottom: 4em;
}


/* Top nav */
.wy-nav-side{
    top: 75px;
}
/* .wy-side-nav-search input[type="text"]{
    border-radius: 5px;
    box-shadow: none;
    border-color: inherit;
} */
.wy-side-nav-search .icon.icon-home{
    font-size: 100%;
    color: #3375b1;
}
.icon.icon-home .logo{
   display: none;
}
.wy-side-nav-search {
    padding: 0;
  }
/* .wy-side-nav-search .wy-dropdown > a, .wy-side-nav-search > a {
    padding: 10px 6px;
    margin-bottom: 0;
  } */

.wy-side-nav-search div[role=search]{
    display: none;
}
.rst-content{
    margin-top: 55px;
}
.rst-content div[role=navigation] hr{
    border: none;
    margin: 0;
}

.container-nav{
    margin-right: auto;
    margin-left: auto;
    padding-left: 100px;
    padding-right: 100px;
}

.navbar{
    box-shadow: 0px 5px 10px 0px #aaa;
    position: fixed;
    width: 100%;
    background: #fff;
    color: #000;
    z-index: 9999;
}

.navbar-container{
    display: flex;
    height: 75px;
    align-items: center;
}

.menu-items{
    order: 2;
    display: flex;
    padding-left: 100px;
}
.logo{
    order: 1;
    font-size: 2.3rem;
    padding-left: 10px;
}
.search-input{
    order: 3;
    margin-left: auto;
    width: 280px;
}
.search-input input[type="text"]{
    font-size: 1rem;
    border-radius: 20px;
    padding: 8px;
    width: 100%;
    box-shadow: none;
}
.search-input input[type="text"]:focus{
    border-color: #ccc;
}
.menu-items li{
    list-style: none;
    margin-left: 2rem;
    font-size: 1rem;
}
.nav-link{
    padding: 0 8px 8px 8px;
}
.nav-link.active{
    border-bottom: 2px solid #3375b1;
}
.navbar a{
    color: #444;
    text-decoration: none;
    font-weight: 500;
}

.fa-bars{
    display: none;
    font-size: 30px;
    float: left;
    cursor: pointer;
    padding-top: inherit;
}
@media (max-width: 768px){
    .fa-bars{
        display: block;
    }
    .search-input, .menu-items{
        display: none;
    }
    .wy-side-nav-search div[role=search]{
        display: block;
        padding: 0 10px;
    }
}
