@import url('https://fonts.googleapis.com/css?family=Roboto:400,400i,500,500i');

body{
  font-family: 'Roboto', sans-serif;
}

h1, h2, .rst-content .toctree-wrapper p.caption, h3, h4, h5, h6, legend{
  font-family: "Roboto";
}
.wy-side-nav-search, .wy-nav-side {
    background-color: #019CDC;
    color: #fff;
}

.wy-side-nav-search>div.version {
    color: rgba(255,255,255,0.7);
}

.wy-side-nav-search input[type=text] {
    border-radius: 0;
}
.wy-menu-vertical li.current a{
  color: #fff;
}
.wy-menu-vertical li.current,.wy-menu-vertical li.toctree-l2.current>a {
    background: #0281b5;
}

.wy-menu-vertical li.current a{
  border-right: 0;
}

.wy-menu-vertical a{
  color: #fff;
}
.wy-menu-vertical li.on a, .wy-menu-vertical li.current>a {
  color: #fff;
  background: #006c98;
  border-bottom: solid 1px #006c98;
  border-top: solid 1px #006c98;
}

.wy-menu-vertical li.toctree-l2.current>a{
  color: #fff;
  background: #006c98;
  border-bottom: solid 1px #006c98;
  border-top: solid 1px #006c98;
}

.wy-menu-vertical li.toctree-l2.current li.toctree-l3>a {
  color: #fff;
  background: #0281b5;
  border-bottom: solid 1px #0281b5;
  border-top: solid 1px #0281b5;
}

.wy-menu-vertical li.toctree-l2.current li.toctree-l3.current >a {
  color: #fff;
  background: #026690;
  border-bottom: solid 1px #026690;
  border-top: solid 1px #026690;
}

.wy-menu-vertical li.on a:hover, .wy-menu-vertical li.current>a:hover, .wy-menu-vertical a:hover,.wy-menu-vertical li.current a:hover{
  color: #fff;
  background: #015e86;
}

.fa-minus-square-o:before, .wy-menu-vertical li.on a span.toctree-expand:before, .wy-menu-vertical li.current>a span.toctree-expand:before {
    content: "\f13a";
    color: #fff;
}

.icon.icon-home{
  font-size: 0;
}

.wy-nav-content {
    padding: 1.618em 3.236em;
    height: 100%;
    max-width: 100%;
    margin: auto;
}
